* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.left {
    flex: 2;
    overflow-y: auto;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.cart {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart img {
    width: 30px;
}

main {
    padding: 20px;
    text-align: center;
}

h2 {
    padding-bottom: 15px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

.product-card img {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
}

.product .price {
    font-size: 1.2em;
    color: #333;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.terminal {
    width: 40%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.terminal-window {
    background-color: #000;
    height: 100%;
    padding: 10px;
    overflow: auto;
}

.terminal-output {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.terminal-input {
    display: flex;
}

.prompt {
    margin-right: 5px;
}

input[type="text"] {
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
    flex-grow: 1;
}
